<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Auth Sample</title>
  </head>

  <body>
    
    <%= styled_flash %>

    <h1><a href="/">Authentication Example</a></h1>

    <%= yield %>

  </body>

</html>
