<h3>Login</h3>

<form action="/login" method="post">
  
  <p>
    <label for="email">Email</label>
    <input type="text" name="email" value="<%= params[:email] %>" />
  </p>

  <p>
    <label for="password">Password</label>
    <input type="password" name="password" />
  </p>

  <input type="submit" value="Login" />

</form>
