<h3>Users</h3>

<% if session[:errors] %>
  <ul>
    <% for error in session[:errors] %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
 
 <form action="/signup" method="post">
  
  <p>
    <label for="user[email]">Email</label>
    <input type="text" name="user[email]" value="<%= params[:email] %>"/>
  </p>

  <p>
    <label for="user[password]">Password</label>
    <input type="password" name="user[password]"/>
  </p>

  <p>
    <label for="user[password_confirmation]">Password Confirmation</label>
    <input type="password" name="user[password_confirmation]"/>
  </p>

  <input type="submit" value="Register"/>

</form>
